@{
    ViewData["Title"] = "About";
}


<div class="container">
    
    <div class="row">
        <div class="page-header">
            <h3>Photo Gallery</h3>
        </div>
        <div class="col-md-4">
            <a href="#m1" data-toggle="modal" class="thumbnail">
                <img src="~/images/Slider-1.jpg" />
            </a>
            <div class="modal fade  col-md-offset-4 col-md-4" id="m1">
                <div class="modal-content">
                    <div class="modal-header">
                        Image 1
                    </div>
                    <div class="modal-body">
                        <img src="~/images/Slider-1.jpg" class="img-thumbnail" />
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" value="Close" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#m2" data-toggle="modal" class="thumbnail">
                <img src="~/images/Slider-2.jpg" />
            </a>
            <div class="modal fade  col-md-offset-4 col-md-4" id="m2">
                <div class="modal-content">
                    <div class="modal-header">
                        Image 2
                    </div>
                    <div class="modal-body">
                        <img src="~/images/Slider-2.jpg" class="img-thumbnail" />
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" value="Close" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#m3" data-toggle="modal" class="thumbnail">
                <img src="~/images/Slider-3.jpg" />
            </a>
            <div class="modal fade  col-md-offset-4 col-md-4" id="m3">
                <div class="modal-content">
                    <div class="modal-header">
                        Image 3
                    </div>
                    <div class="modal-body">
                        <img src="~/images/Slider-3.jpg" class="img-thumbnail" />
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" value="Close" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#m4" data-toggle="modal" class="thumbnail">
                <img src="~/images/Slider-4.jpg" />
            </a>
            <div class="modal fade  col-md-offset-4 col-md-4" id="m4">
                <div class="modal-content">
                    <div class="modal-header">
                        Image 4
                    </div>
                    <div class="modal-body">
                        <img src="~/images/Slider-4.jpg" class="img-thumbnail" />
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" value="Close" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#m5" data-toggle="modal" class="thumbnail">
                <img src="~/images/Slider-1.jpg" />
            </a>
            <div class="modal fade  col-md-offset-4 col-md-4" id="m5">
                <div class="modal-content">
                    <div class="modal-header">
                        Image 5
                    </div>
                    <div class="modal-body">
                        <img src="~/images/Slider-1.jpg" class="img-thumbnail" />
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" value="Close" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#m6" data-toggle="modal" class="thumbnail">
                <img src="~/images/Slider-2.jpg" />
            </a>
            <div class="modal fade  col-md-offset-4 col-md-4" id="m6">
                <div class="modal-content">
                    <div class="modal-header">
                        Image 6
                    </div>
                    <div class="modal-body">
                        <img src="~/images/Slider-2.jpg" class="img-thumbnail" />
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" value="Close" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
